.error-page-wrapper {
    // border: 1px solid red;
    width: fit-content;
    position: absolute;
    top: 15rem;
    left: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    h3 {
        font-size: 1.3rem;
        font-weight: 500;
    }

    h3:hover {
        text-decoration: underline;
        color: #383c8d;
    }
}