.ai-homepage-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: .5rem 0;

    div {
       position: relative;
       padding-top: 2rem;
       cursor: pointer;

        #chef-hat-icon {
            width: 6rem;
            fill: #fff;
            position: absolute;
            top: -10%;
            left: 10%;
        }

        #deepseek-icon {
            width: 10rem;
        }
    }
}