.location-wrapper {
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

    h3 {
        font-weight: 500;
    }

    h2 {
        font-weight: 500;
    }

    div {
        display: flex;
        gap: .7rem;
        align-items: baseline;
    }

    .location-icon {
        width: 1rem;
    }
}