#arrow-up {
    width: 3rem;
    fill: #303030;
}

#facebook-icon, #twitter-icon, #github-icon {
    width: 1.6rem;
}

#instagram-icon, #pinterest-icon {
    width: 1.7rem;
}

#youtube-icon {
    width: 1.9rem;
}

#site-icon {
    width: 2.2rem;
}

#facebook-icon, #twitter-icon, #instagram-icon, #pinterest-icon, #youtube-icon, #site-icon {
    :hover {
        cursor: pointer;
    }
}