.search-bar-wrapper {
    flex-grow: 0.7;
    min-width: 17rem;
    border: 1px solid blue;

    .fake-input-div {
        display: flex;
        gap: .6rem;
        background-color: #f3f6f8;
        border: none;
        border-radius: 100px;
        padding: .7rem 0 .7rem 1.3rem;

        h3 {
            font-weight: 500;
            font-size: 1rem;
            color: grey;
        }
    }

    dialog {
        width: 30rem;
        position: fixed;
        top: 4%;
        left: 35%;
        border: none;
        background-color: transparent;
        fill: none;
        border: 1px solid yellow;
        height: 30rem;

        .modal-child-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            border: 3px solid blue;

            .input-wrapper {
                display: flex;
                gap: .5rem;
                background-color: #f3f6f8;
                border: none;
                border-radius: 30px;
                padding: .7rem 0 .7rem 1.3rem;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;

                input {
                    font-size: 1rem;
                    background-color: #f3f6f8;
                    border: none;
                    width: 90%;
                    color: black;
                    // border: 3px solid goldenrod;
                }
                
                input:focus {
                    outline: none;
                }
            }
        }
    }

    ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        list-style-type: none;
        background-color: #f3f6f8;
        border: none;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        padding: .7rem 0;
        border: 1px solid green;

        li {
            display: flex;
            gap: .5rem;
            padding: .5rem .7rem;
            cursor: pointer;
            color: black;
            border: 1px solid red;

            h3 {
                font-weight: 400;
            }
        }

        li:hover {
            background-color: #eee;
        }
    }
}