.wrapper-parent {
    // border: 1px solid blue;
    display: flex;
    flex-direction: column;

    .wrapper-child {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin: 1.5rem 14rem 0;
    }
}