.product {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    cursor: pointer;

    // border: 1px solid red;

    .upper-part-of-product {
        // border: 1px solid blue;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        aspect-ratio: 16 / 9;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        position: relative;

        .triangle {
            position: absolute;
            bottom: 0rem;
            right: 0rem;
            width: 0;
            height: 0;

            border-top: 5rem solid transparent; 
            border-right: 5rem solid #fff; 
            z-index: 0;
        }

        .text-within-triangle {
            width: fit-content;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            padding: .5rem 0 0 .5rem;
            z-index: 2;

            h3 {
                font-size: 1.6rem;
            }

            h4 {
                font-size: 1rem;
                font-weight: 400;
                text-decoration: line-through;
                line-height: 0.3;
            }
        }
    }

    .lower-part-product {
        // border: 1px solid blue;
        display: flex;
        justify-content: space-between;

        .product-name {
            display: flex;
            flex-direction: column;
            text-align: left;

            h3 {
                font-size: 1.3rem;
                font-weight: 400;
            }

            h4 {
                font-size: 1rem;
                font-weight: 400;
            }
        }

        .no-units-selected-div {
            padding: .6rem;
            border-radius: 50%;
            background-color: #fff;
            height: fit-content;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .expanded-div {
            display: flex;
            align-items: center;

            .amount {
                margin: 0 auto;
                border-radius: 100px;
                padding: .2rem .5rem;
                border: 1px solid black;
            }
        }
        .expandable-div {
            padding: .2rem .5rem;
            display: flex;
            align-items: center;
            gap: 1rem;
        }
    }
}
